@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="d-flex justify-content-center align-items-center" style="height:75vh">
	<div class="w-25">
		<svg version="1.1" id="filipe" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 -20 264.61 312" xml:space="preserve">
		<style type="text/css">
			.st0 {
				fill: #DB4446;
			}

			.st1 {
				fill-rule: evenodd;
				clip-rule: evenodd;
				fill: #B46C52;
			}

			.st2 {
				fill-rule: evenodd;
				clip-rule: evenodd;
				fill: #A55C51;
			}

			.st3 {
				fill: #1B171B;
			}

			.st4 {
				fill: #B46C52;
			}

			.st5 {
				fill-rule: evenodd;
				clip-rule: evenodd;
				fill: #9A574E;
			}

			.st6 {
				fill-rule: evenodd;
				clip-rule: evenodd;
				fill: #1B171B;
			}

			.st7 {
				fill-rule: evenodd;
				clip-rule: evenodd;
				fill: #6C4033;
			}

			.st8 {
				fill: #282828;
			}

			.st9 {
				fill: none;
			}

			.st10 {
				fill: none;
				stroke: #282828;
				stroke-width: 1.04;
				stroke-linecap: round;
				stroke-linejoin: round;
				stroke-opacity: 0;
			}

			.st11 {
				fill: none;
				stroke: #512924;
				stroke-width: 2;
				stroke-linecap: round;
				stroke-linejoin: round;
			}

			.st12 {
				fill: none;
				stroke: #9B5C49;
				stroke-width: 2;
				stroke-linecap: round;
				stroke-linejoin: round;
			}

			.st13 {
				fill-rule: evenodd;
				clip-rule: evenodd;
				fill: #010101;
			}

			.st14 {
				fill: #B0B0B0;
			}

			.st15 {
				fill: none;
				stroke: #D3D3D3;
				stroke-linecap: round;
				stroke-linejoin: round;
			}

			.st16 {
				display: inline;
				fill: none;
				stroke: #8D4540;
				stroke-width: 2;
				stroke-miterlimit: 10;
			}

			.st17 {
				fill: #FFFFFF;
			}

			.invis {
				display: none;
			}
</style>
		<g class="bottom">
		<path class="shirt st0" d="M264.61,233.52c-13.43-26.27-23.5-37.68-23.5-37.68L134.7,156.56L28.3,195.84
			c0,0-12.72,14.41-28.63,48.14c0.28,4.81,1.63,9.37,4.74,13.55c7.4,9.96,21.71,11.87,33.95,9.84c12.24-2.02,23.95-7.07,36.33-7.84
			c28.03-1.74,52.23,18.19,78.83,27.21c22.45,7.62,47.9,7.19,69.33-2.96C243.2,274.14,259.4,255.38,264.61,233.52z" />
		<path class="torso st1" d="M134.35,156.42c0,0,18.37,6.3,34.06,12.5c-2.92,15.76-16.26,25.82-32.87,26.03l-0.41,0.01
			c-16.89,0.22-31.15-10.14-34.13-26.22C116.7,162.38,134.35,156.42,134.35,156.42z" />
		<path class="neck st1" d="M133.66,97.31l0.45,0c12.97-0.15,23.7,10.34,23.85,23.3l0.32,51.56
			c0.15,12.97-10.34,14.75-23.31,14.9l-0.45,0.01c-12.97,0.15-23.7-1.39-23.85-14.36l-0.32-51.56
			C110.21,108.19,120.69,97.46,133.66,97.31z" />
		</g>
		<path class="shadow st2" d="M158.23,152.3l-0.21-33.59c-0.15-12.97-10.88-23.46-23.85-23.31l-0.45,0
		c-12.97,0.15-23.46,10.88-23.31,23.85l0.21,33.09c7.07,3.87,15.17,6.08,23.76,6.08C143.01,158.43,151.14,156.2,158.23,152.3z" />
		<g class="hair-under">
		<path class="hair-under-r st3" d="M79.09,53.24c0-2.08,0.44-12.08,4.12-15.33c3.68-3.25,4.4-3.6,6.07-4.95l9.58,10.89
			c0.69,1.1,5.01,13.74-0.91,18.04c-1.9,1.38-1.88,10.2-2.96,11.49c-0.06,1.03-2.09,7.93-2.22,8.64c-0.61,3.2-3.84,13.62-4.45,14.9
			c-0.61,1.28-3.11-1.52-3.11-1.52s-5.48-22.47-5.75-27.92S79.09,55.32,79.09,53.24z" />
		<path class="hair-under-l st3" d="M181.01,40.72c11.97,5.9,3.54,51.48,2.32,54.9c-1.22,3.42-12.05,17.22-12.05,17.22
			l2.89-76.45L181.01,40.72z" />
		</g>
		<g class="ears">
		<g class="ear-l">
		<ellipse class="ear-lobe-l st4" cx="184.29" cy="92.53" rx="7.57" ry="13.07" />
		<path class="ear-hole-l st5" d="M182.94,99.93c0,0,3.86-2.54,1.97-4.54c-1.89-2-2.15-3.08-0.48-4.04
				c1.67-0.96,4.21-0.68,4.34,2.99C188.9,98.01,182.94,99.93,182.94,99.93z" />
			</g>
		<g class="ear-r">
		<ellipse class="ear-lobe-r st4" cx="85.21" cy="92.53" rx="7.57" ry="13.07" />
		<path class="ear-hole-r st5" d="M86.56,99.93c0,0-3.86-2.54-1.97-4.54c1.89-2,2.15-3.08,0.48-4.04
				c-1.67-0.96-4.21-0.68-4.34,2.99C80.6,98.01,86.56,99.93,86.56,99.93z" />
			</g>
		</g>
		<g class="hair-over">
		<path class="hair-over-l st3" d="M181.53,42.01c11.97,5.9,2.32,54.9,2.32,54.9l-2.32-43.4V42.01z" />
		<path class="hair-over-r st3" d="M79.09,51.96
			c0.21-2.08,0.49-9.99,5.19-12.83c0.95-1.37,3.66-3.17,5.33-4.51l0.95,0.72c0.69,1.1,6.51,2.76,0.59,7.05
			c-1.9,1.38,0.44,12.97-0.65,14.26c-0.06,1.03-0.15,1.97-0.28,2.68c-0.61,3.2-2.73,15.7-3.34,16.99C86.28,77.6,85.2,95.4,85.2,95.4
			s-6.22-17.49-6.52-38.32C78.68,57.08,78.88,54.03,79.09,51.96z" />
		</g>
		<g class="face">
		<path class="skin st1" d="M134.75,4.35L134.75,4.35c-27.38,0-49.78,22.4-49.78,49.78V99.4c0,27.38,22.4,49.78,49.78,49.78l0,0
			c27.37,0,49.77-22.4,49.77-49.78V54.13C184.53,26.75,162.13,4.35,134.75,4.35z" />
		<path class="scalp st6" d="M184.81,54.16c0-27.38-22.69-49.81-50.06-49.81c0,0,0,0,0,0c-27.38,0-50.23,22.55-50.23,49.93
	l0.45,19.54c0.12,0.29,0.23,0.58,0.35,0.86c0,0,2.44-23.24,5.26-28.43c2.82-5.18,7.43-20.36,14.9-20.36s53.11,0,58.91,0
	c5.8,0,12.46,14.96,14.92,21.18c2.46,6.22,5.07,27.16,5.07,27.16c0.05-0.12,0.1-0.25,0.15-0.37L184.81,54.16z" />
		</g>
		<g class="hair-front">
		<path class="hair-front-r st3" d="M115.59,34.83c-4.55,0.96-9.56,0.48-9.56,0.48s3.19,3.36,5.92,3.85c0,0-7.28,1.44-10.47-2.4
			l2.28,5.77c0,0-4.61-0.44-7-3.46c0.69,1.1,1.99,4.45-3.93,8.74c-1.9,1.38-3.34,2.76-4.42,4.05c0,0,0.83-1.52,1.67-6.96
			c-3.33,1.24-4.08,4.68-4.08,4.68s-0.46-1.01,0.19-5.79c-3.29,2.78-4.31,7.87-4.31,7.87s-0.58-2.63-1.02-6.44
			c-3.4,0.85-3.84,4.54-3.84,4.54c-0.69-3.35,0.45-12.59,5.16-15.42c0.95-1.37,2.27-2.68,3.94-4.03c-3.11-0.47-5.58,0.91-5.58,0.91
			c4.55-5.77,5.69-2.88,10.02-7.93c4.32-5.05,2.5-10.58,8.19-13.46c3.06-1.55,5.13-1.5,6.39-1.13c0.29-1.43,1.09-3.15,3.02-4.64
			c3.34-2.56,8.5-1.12,8.5-1.12c-1.82,0.32-4.86,4.33-4.86,4.33s6.9-3.4,14.87-3.4c0,0,2.18,26.49-1.71,28.53
			C121.06,34.44,115.59,34.83,115.59,34.83z" />
		<path class="hair-front-l st3" d="M186.8,39.57c1.32-0.82,3.19-2.59,5.42-6.36c0,0-5.16,3.21-9.1-0.96
			C180.04,29,178.06,21.86,170,19.17c1.74-0.85,2.39-2.36,2.39-2.36c-2.97,1.45-8.37-0.92-8.37-0.92c1.98,0.46,4.35-2.84,4.35-2.84
			c-2.37,1.58-7.65,0-7.65,0c2.18-0.73,2.9-2.77,2.9-2.77c-3.16,1.91-7.71-2.18-7.71-2.18s0,0,0,0c-4.53-4.32-12.23-7.95-23.7-4.71
			c0,0,1.82-2.88,6.3-2.56c0,0-4.86-2.56-11.84,1.28c-6.98,3.85-14.87,15.15-14.87,15.15v12.75c0.5,2.47,9.71,2.22,12.9,9.91
			c3.19,7.69,14.57,5.77,14.57,5.77c0.46,10.58,8.65,12.02,8.65,12.02c-3.19-4.81,0.46-7.21,0.46-7.21
			c3.64,7.69,12.75,7.69,12.75,7.69c-5.01,0-6.83-8.17-6.83-8.17c6.83,8.17,19.12,6.25,19.12,6.25s0.73-0.13,1.59-0.41
			c0.87-0.28,1.82-0.73,2.83-1.19c0.04,0,0.08,0,0.13-0.01c0.44-0.04,1.69-0.02,3.92-1.09c2.22-1.07,2.66-1.69,2.66-1.69
			c3.41-2.54,5.56-5.88,5.56-5.88c-1.52,0.13-3.52-0.01-5.34-0.23c2.33-0.48,5.17-1.36,7.16-2.98
			C191.91,42.82,189.28,41.95,186.8,39.57z" />
		</g>
		<path class="mark st7" d="M181.2,82.02c0,0-10.65-6.3-15.1-10.47c-4.45-4.17-0.75-6.74,0-7.22c0.75-0.48,4.35-3.7,8.71,2.41
		C179.16,72.85,181.2,82.02,181.2,82.02z" />
		<g class="inner-face">
		<g class="eyes">
		<path class="o-eye-r st8" d="M103.86,84.42c-0.13,3.73,2.24,6.81,5.27,6.9s5.55-2.85,5.66-6.57c0.11-3.73-2.24-6.81-5.27-6.9
				S103.97,80.7,103.86,84.42z" />
		<path class="o-eye-l st8" d="M153.86,84.42c-0.13,3.73,2.24,6.81,5.27,6.9s5.55-2.85,5.66-6.57c0.11-3.73-2.24-6.81-5.27-6.9
				C156.49,77.76,153.96,80.7,153.86,84.42z" />
		<path class="c-eye-l st9" d="M154.78,84.69c1.36,0.76,2.88,1.2,4.44,1.29c1.59,0.05,3.17-0.22,4.64-0.81" />
		<path class="c-eye-r st10" d="M104.8,85.55c1.47,0.52,3.04,0.71,4.59,0.54c1.58-0.21,3.1-0.74,4.46-1.56" />
			</g>
		<path class="mouth st11" d="M115.32,118.86c0,0,14.34,9.38,28.44,3.23" />
		<g class="open-mouth st11 invis">
		<g class="teeth st12">
		<defs>
		<path id="SVGID_1_" d="M134.78,131.18c-11.99,0-21.51-6.11-22.05-6.46c-3.23-2.12-4.14-6.46-2.02-9.69
							c2.11-3.23,6.43-4.14,9.66-2.04c0.22,0.14,11.52,7.19,21.83,2.69c3.54-1.55,7.67,0.07,9.22,3.61c1.55,3.54-0.07,7.67-3.61,9.22
							C143.35,130.45,138.92,131.18,134.78,131.18z" />
					</defs>
		<clipPath id="SVGID_00000178903316319076973610000004509756641487001478_">
		<use xlink:href="#SVGID_1_" style="overflow:visible;" />
					</clipPath>
		<g class="tooth-group" style="clip-path:url(#SVGID_00000178903316319076973610000004509756641487001478_);">
		<path class="teeth-color st17" d="M134.78,131.18c-11.99,0-21.51-6.11-22.05-6.46c-3.23-2.12-4.14-6.46-2.02-9.69
							c2.11-3.23,6.43-4.14,9.66-2.04c0.22,0.14,11.52,7.19,21.83,2.69c3.54-1.55,7.67,0.07,9.22,3.61c1.55,3.54-0.07,7.67-3.61,9.22
							C143.35,130.45,138.92,131.18,134.78,131.18z" />
		<line class="line-1 st15" x1="118.71" y1="109.48" x2="110.24" y2="126.48" />
		<line class="line-2 st15" x1="125.54" y1="112.03" x2="120.24" y2="131.29" />
		<line class="line-3 st15" x1="132.38" y1="114.57" x2="130.23" y2="136.1" />
		<line class="line-4 st15" x1="138.56" y1="113.8" x2="141.23" y2="133.37" />
		<line class="line-5 st15" x1="144.74" y1="113.02" x2="152.23" y2="130.64" />
		<path class="middle-line st15" d="M110.35,115.63c0,0,19.18,16.33,41.23,4.07" />
					</g>
				</g>
		<path class="open-mouth-outline st16" d="M134.78,131.18c-11.99,0-21.51-6.11-22.05-6.46c-3.23-2.12-4.14-6.46-2.02-9.69
					c2.11-3.23,6.43-4.14,9.66-2.04c0.22,0.14,11.52,7.19,21.83,2.69c3.54-1.55,7.67,0.07,9.22,3.61c1.55,3.54-0.07,7.67-3.61,9.22
					C143.35,130.45,138.92,131.18,134.78,131.18z" />
			</g>
		<path class="eyebrow-left st6" d="M146.61,67.95c-0.4-2.08,15.45-4.88,25.42,1.51c0,0-5.44-2.07-12.45-1.48
			C152.57,68.57,147.02,70.03,146.61,67.95z" />
		<path class="eyebrow-right st6" d="M122.03,67.95c0.4-2.08-15.45-4.88-25.42,1.51c0,0,5.44-2.07,12.45-1.48
			C116.07,68.57,121.63,70.03,122.03,67.95z" />
		<path class="nose st12" d="M136.83,84.62c0,0-0.14,11.2,3.47,15.64c3.61,4.45,0.96,9.73-5.56,9.73" />
		<g class="glasses">
		<path class="frames st13" d="M136.61,80.11c0.19,0,1.95-0.1,2.59,2.8c0,0,2.19,8.65,5.29,11.7c3.1,3.05,8.1,4.02,10.22,4.16
				c2.11,0.14,9.07,0.73,16.72-0.55c7.65-1.28,8.44-2,9.91-4.59c1.47-2.59,2.28-12.86,2.38-15.8l1.61-1.54l-0.07-3.12
				c0,0-6.52-1.79-13.24-2.42c-6.73-0.63-12.93-0.95-19.65,0.32c-6.56,1.23-8.84,3.06-17.62,3.34c-8.78-0.28-11.06-2.11-17.62-3.34
				c-6.73-1.26-12.93-0.95-19.65-0.32c-6.73,0.63-13.24,2.42-13.24,2.42l-0.07,3.12l1.61,1.54c0.11,2.94,0.91,13.21,2.38,15.8
				c1.47,2.59,2.26,3.31,9.91,4.59c7.65,1.28,14.61,0.69,16.72,0.55c2.11-0.14,7.12-1.11,10.22-4.16c3.1-3.05,5.29-11.7,5.29-11.7
				c0.68-2.99,2.42-2.8,2.59-2.8C133.07,80.11,136.41,80.11,136.61,80.11z M126.64,81.53c-0.6,6.39-1.3,11.68-7.69,13.98
				c-6.39,2.3-19.12,1.45-23.71-0.1c-5.04-1.5-4.59-3.1-5.64-6.49c-0.7-3.29-1-5.89-0.8-7.99c0.2-2.1,0.1-5.69,3.19-6.59
				c3.78-1.1,15.18-3.2,23.76-1.4C124.34,74.74,127.13,76.27,126.64,81.53z M179.9,88.92c-1.05,3.39-0.6,4.99-5.64,6.49
				c-4.59,1.55-17.32,2.4-23.71,0.1c-6.39-2.3-7.09-7.59-7.69-13.98c-0.49-5.26,2.3-6.79,10.88-8.59c8.59-1.8,19.99,0.3,23.76,1.4
				c3.1,0.9,3,4.49,3.19,6.59C180.9,83.03,180.6,85.63,179.9,88.92z" />
		<circle class="screw-1 st14" cx="85.49" cy="74.76" r="0.56" />
		<circle class="screw-2 st14" cx="87.4" cy="74.76" r="0.56" />
		<circle class="screw-3 st14" cx="182.1" cy="74.76" r="0.56" />
		<circle class="screw-4 st14" cx="184.01" cy="74.76" r="0.56" />
			</g>
		</g>
	</svg>

	</div>
</div>

@section Scripts {
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js" defer></script>
	<script src="~/js/animation.js" defer></script>
}