@page
@using Portfolio.Shared.Models;
@model AboutModel
@{
    ViewData["Title"] = "About";
    var character = new Character(){ Width = "100%", Height = "100%" };
}


<div id="wrap_about" class="flex-1 flex flex-col sm:flex-row m-6 lg:m-16 justify-center">
    <div class="flex flex-row self-center content-center">
        <div class="min-w-[30%] min-h-[30%] hidden sm:block">
            <partial name="_Filipe" class="flex-1" model="@character" />
        </div>
        
        <div id="words" class="font-[Gratina] text-2xl text-center sm:text-3xl md:text-6xl md:leading-normal h-full flex flex-col gap-5">
            <div>
                <p>Recent graduate with <a class="text-secondary" asp-area="" asp-page="/Experience">work experience</a>.</p>
            </div>
            <div>
                <p>Excels at <span class="text-primary">creating</span> user experiences and <span class="text-secondary">working</span> with people that love achieving goals.</p>
            </div>
            <div>
                <p>Thrives on building <span class="text-primary">things</span>,</p>
                <p><span class="text-primary">things</span> that <span class="text-secondary">matter</span>.</p>
            </div>
        </div>

    </div>
</div>