@page
@model IndexModel
@{
	ViewData["Title"] = "Home";
}



<div id="titles" class="w-full absolute z-[5]">
	<div class="justify-center flex flex-row mt-2 gap-4 sm:gap-6 md:gap-12 lg:gap-28">
		<div class="mr-14 title transition origin-top-left hover:scale-150 font-[Gratina] text-3xl text-center sm:text-6xl md:text-6xl lg:text-7xl border-b-4 border-black">
			<p>Full</p><p>Stack</p>
		</div>
		<div class="ml-14 title transition origin-top-right hover:scale-150 font-[Gratina] text-3xl text-center sm:text-6xl md:text-6xl lg:text-7xl border-b-4 border-black">
			<p>Software</p><p>Developer</p>
		</div>
	</div>
</div>

@* <div class="sm:text-5xl md:text-9xl">​</div> *@

@* mt-14 sm:mt-24 md:mt-32 *@
@* block w-full justify-center overflow-y-hidden border-4 border-black *@
<div class="flex-1 flex flex-col-reverse overflow-y-hidden justify-center sm:justify-normal" >
	<partial name="_Filipe"/>
</div>
