@page
@using Portfolio.Shared.Models;
@model IndexModel
@{
	ViewData["Title"] = "Home";
	var character = new Character(){
		Width = "100rem",
		Height = "100rem",
		ViewBox = "0 0 100 100",
		Margin = "0 0 -50rem 0",
	};
}

<div class="flex-1 flex">
	<div id="titles" class="w-full absolute z-[5]">
		<div class="justify-center flex flex-row mt-2 gap-4 sm:gap-6 md:gap-12 lg:gap-36 lg:py-12">
			<div class="mr-14 title transition origin-top-right hover:scale-150 font-[Gratina] text-3xl text-center sm:text-6xl md:text-6xl lg:text-7xl border-b-4 border-black">
				<p>Full</p><p>Stack</p>
			</div>
			<div class="ml-14 title transition origin-top-left hover:scale-150 font-[Gratina] text-3xl text-center sm:text-6xl md:text-6xl lg:text-7xl border-b-4 border-black">
				<p>Software</p><p>Developer</p>
			</div>
		</div>
	</div>

	<div class="flex-1 flex items-center flex-col-reverse overflow-x-hidden justify-center sm:justify-normal" >
		<partial name="_Filipe" model="@character" />
	</div>
</div>
