@page
@model ProjectsModel
@{
    ViewData["Title"] = "Projects";
}

<div class="flex-1 flex flex-col m-6 place-items-center">
    @foreach (var project in Model.Projects)
    {
        <partial name="_ProjectCard" model="project" />
    }
</div>